.navContainer {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  min-height: 3rem;
  color: var(--water-drop);
  font-size: 1.5rem;

  .navCol {
    padding: 1.5rem 2rem;

    &:hover {
      background-color: rgb(248, 242, 242);
      cursor: pointer;
      .menuIcon {
        color: var(--water-drop-hover);
      }
    }
  }
}
