html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --user-blue: #2ebad3;
  --water-drop: #408794;
  --water-drop-hover: #2d6974;
}

.contentDiv {
  max-height: calc(100vh - 9.4rem);
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: lightgrey;
}
