.measurerContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--cyan-dark);

  .circleContainer {
    position: absolute;
    width: 90%;
    height: 75%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .internalCircle {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 95%;
      height: 95%;
      background-color: var(--light-blue);
      border-radius: 50%;
      z-index: 5;

      .dataCircle {
        position: absolute;
        width: 95%;
        height: 95%;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 2.2rem;
          color: var(--cyan-dark);
        }
      }
    }
  }
}
