.headerContainer {
  width: 100%;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.3rem;
  color: var(--cyan-dark);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  height: 4.2rem;

  .welcomeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .scoreContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(236, 232, 232);
      border-radius: 2rem;
      min-width: 4.7rem;
      padding: 0 0.5rem;
    }
  }

  .backArrow {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .waterDrop {
    font-size: 2rem;
    border-right: 1px solid var(--cyan-dark);
    width: 50px;
  }

  h2 {
    font-size: 1.2rem;

    span {
      color: var(--light-blue);
    }
  }
}
