.udm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(224, 28, 28, 0.918);
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 3.5rem;

    h3 {
        font-size: 1rem;
    }
}